.tsd-page-toolbar {
    background: #274B77;
    border-color: transparent;
    -webkit-box-shadow: none;

    border-radius: 0px;
    
    color: white;
}

.tsd-page-title {
    background-color: #40638D;
    padding-bottom: 20px;
}

.tsd-panel-group {
    background-color: #274B77;
    padding-bottom: 20px;
}

.tsd-panel {
    background-color: #40638D;
}

.with-border-bottom {
    background-color: #40638D;
    border-color: transparent;
    -webkit-box-shadow: none;

    border-radius: 0px;
}
