doctype html
html(lang="en")
    head
        title= "Turbulence Run Report"

    body
        h1 Turbulence Run Report
        p(class="TotalRequests") Total Requests: #{requests.length}

        h2 Detailed Breakdown
        each req in requests
            p(class="Url") Url: #{req.url} Invocations: #{req.invocations}
