---
layout: default
---
<div class="container-fluid sidebar">
    <div class="row">
        <div class="sidebar col-md-2 col-sm-3">
            <ul class="nav nav-sidebar">
                {% for child in site.data.api.children sort %}
                {% if child.kind == 128 %}
                <li>
                    <a href="#{{ child.name }}">{{ child.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-8 col-sm-9">
            {% for child in site.data.api.children sort %}
            {% if child.kind == 128 %}
            <div class="info-block">
                <div>
                    <header class="clazz-header">
                        <h2>
                            <a href="#{{ child.name }}" name="{{ child.name }}">{{ child.name }}</a>
                        </h2>

                        <div>{{ child.comment.shortText }}</div>
                    </header>
                    <ul class="clazz-contents">
                        {% for method in child.children %}
                        {% if method.kind == 2048 %}

                        <li>
                            <h4>
                                <a href="#{{ child.name }}.{{ method.name }}" name="{{ child.name }}.{{ method.name }}">
                                    {{ method.name }}</a>
                            </h4>

                            {% for signature in method.signatures %}

                            (

                            {% for parameter in signature.parameters %}

                            {% if forloop.first == false %}
                            <span>,</span>
                            {% endif %}

                            <span>{{ parameter.name }}: <a
                                    href="#{{ parameter.type.name }}"><i>{{ parameter.type.name}}</i></a></span>
                            {% endfor %}

                            )

                            =>

                            <span><a href="#{{ signature.type.name }}"><i>{{ signature.type.name }}</i></a></span>

                            <div>{{ signature.comment.shortText | Link }}</div>

                            <div>
                                <h5>Returns:</h5>
                                <ul>

                                    {% for parameter in signature.parameters %}
                                    <li>{{ parameter.name }}: <a
                                            href="#{{ parameter.type.name }}"><i>{{ parameter.type.name}}</i></a>
                                        
                                        {% if parameter.comment.text %}
                                        <span> - {{ parameter.comment.text }}</span>
                                        {% endif %}
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </li>

                        {% endfor %}

                        {% if forloop.last == false %}
                        <hr/>
                        {% endif %}

                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</div>
