---
layout: default
---
<div class="container-fluid sidebar">
    <div class="row">
        <div class="sidebar col-md-2 col-sm-3">
            <ul class="nav nav-sidebar">
                {% for child in site.data.api.children sort %}
                {% if child.kind == 128 %}
                <li>
                    <a href="./">{{ child.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-8 col-sm-9">
            <header>
                <h1>{{ page.title }}</h1>
            </header>

            <article>
                {{ content }}
            </article>
        </div>
    </div>
</div>
